
@{
    ViewBag.Title = "ConfirmBeforeLogin";
}
<div class="jumbotron">
<h2>Please Confirm before logging in</h2>
<div>
    <p>
        Please confirm your email before loging in. If you have already confirmed @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
    </div>

