
@{
    ViewBag.Title = "AssginRole";
}

<h2>AssginRole</h2>

@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{
<div class="container">
    <div class="col-md-6">
        <label class="label">Email </label>
        <input type="text" name="txtUser" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="label">Role Name</label>
        <select name="Roles">
            <option value="Employee">Employee</option>
            <option value="User">User</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom:20px">Submit</button>
</div>
}

