@using System.Linq;
@using System.Data.Entity;

@model  IEnumerable<PODBProject.Announcement>

@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img src="~/Content/images/Pictures/cvoLogo.png" width="350" height="350"/></center>
    <center><h1>Welcome to the City Veterinary Pet Owner's Website!</h1></center>
</div>
<hr />

<div class="container">
    <h4>Announcements</h4>
    @if (Model != null)
    {
        foreach (var item in Model.Reverse())
        {
            <div class="d-flex justify-content-center">
                <div class="jumbotron col col-md-10">

                    <center><img src="@Html.DisplayFor(modelItem => item.Image.imagePath)" style="height:250px;width:250px;" multiple/></center>
                    <div class"row lg-8">
                        <div class="col-md-12" style="margin-top:30px;">
                            <h3>@Html.DisplayFor(modelItem => item.announceTitle)</h3>
                            <div class="col-md-6">
                                <small>@item.announceDate.ToString("dddd, dd MMMM yyyy")</small>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px">
                        @Html.DisplayFor(modelItem => item.announceText)
                    </div>
                </div>
            </div>
        }
    }
</div>

